.track {
  position: relative;

  overflow: hidden;
  display: flex;

  height: 200px;
  padding-top: 5px;
  border-radius: 20px;

  background: url('./ls.png');
  background-color: rgb(255 255 255);
  background-repeat: no-repeat;

  // background-position: bottom -30px right 0;
  background-size: cover;

  // box-shadow: var(--box-shadow);
}

.car-position {
  position: absolute;
  bottom: 20px;
  left: var(--car-left);
}

.button {
  @extend %btn-primary;

  aspect-ratio: 1;
  width: 30px;
  padding: 0;
  border-radius: 50%;

  svg {
    aspect-ratio: 1;
    width: 15px;
    fill: currentcolor;
  }
}

.start {
  background-color: var(--color-accent);
}

.stop {
  // background-color: var(--color-accent);
}

.buttons {
  display: flex;
  gap: 10px;
}

.car-name {
  display: flex;
  font-size: 14px;
  color: rgb(19 19 19 / 80%);
}

.header {
  display: flex;
  gap: 15px;
  align-items: center;

  height: fit-content;
  margin-top: 10px;
  margin-left: 20px;
  padding: 5px;
  padding-right: 10px;
  border: 1px solid rgb(154 220 255);
  border-radius: var(--border-radius);

  background-color: white;
}

.overlay {
  pointer-events: none;

  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  @include hidden(true) {
    opacity: 0;
  }
  @include main-transition('opacity, visibility');
}

.status-info {
  transform: scale(0.6);

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 6px 20px;
  border: 1px solid rgb(154 220 255);
  border-radius: var(--border-radius);

  font-size: 14px;
  text-transform: lowercase;

  opacity: 0.5;
  background-color: rgb(255 255 255 / 90%);

  @include main-transition('transform');

  // animation: blinker 3s ease-in-out infinite alternate;
}

.active {
  .status-info {
    transform: scale(1);
    opacity: 1;
  }

  @include hidden(false) {
    opacity: 1;
  }
}

// @keyframes blinker {
//   0% {
//     opacity: 0;
//   }
// }
