.track {
  position: relative;

  overflow: hidden;
  display: flex;

  height: 200px;
  padding-top: 5px;
  border-radius: 20px;

  background: url('./ls.png');
  background-color: rgb(255 255 255);
  background-repeat: no-repeat;

  // background-position: bottom -30px right 0;
  background-size: cover;

  // box-shadow: var(--box-shadow);
}

.car-position {
  position: absolute;
  bottom: 20px;
  left: var(--car-left);
}

.button {
  @extend %btn-primary;

  aspect-ratio: 1;
  width: 30px;
  padding: 0;
  border-radius: 50%;

  svg {
    aspect-ratio: 1;
    width: 15px;
    fill: currentcolor;
  }
}

.start {
  background-color: var(--color-accent);
}

.stop {
  // background-color: var(--color-accent);
}

.buttons {
  display: flex;
  gap: 10px;
}

.car-name {
  display: flex;
  font-size: 15px;
  color: rgb(19 19 19 / 80%);
}

.header {
  display: flex;
  gap: 15px;
  align-items: center;

  height: fit-content;
  margin-top: 10px;
  margin-left: 20px;
  padding: 5px;
  padding-right: 10px;
  border: 1px solid rgb(154 220 255);
  border-radius: var(--border-radius);

  background-color: white;
}
