.wrapper {
  @extend %wrapper;
}

.button {
  @extend %btn-primary;
}

.race {
  background-color: var(--color-accent);
}

.add {
  background-color: var(--color-btn-bg-sec);
}

.tracks {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.left-controls,
.right-controls {
  display: flex;
  gap: 15px;
  align-items: center;
}

.paginator {
  display: flex;
}

.paginator-counter {
  display: flex;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 20px 0;
}

.total-cars-wrapper {
  display: flex;
  gap: 4px;
  align-items: center;

  font-size: 15px;
  text-transform: capitalize;

  opacity: 0.4;
}
