.wrapper {
  width: max-content;
}

.car-image {
  width: 160px;
}

.wheel {
  transform-origin: center;
  transform-box: fill-box;
}

// .spin {
//   animation: spin var(--wheel-spin-duration) linear infinite;
// }

// @keyframes spin {
//   100% {
//     transform: rotate(360deg);
//   }
// }
